body {
    font-size: 15px;
}

.radius-5 {
    border-radius: 5px;
}

.sidebar {
    position: fixed;
    bottom: 20px;
    top: 95px;
    width: 280px;

    .nav-link {
        display: flex;
        align-items: center;
        gap: 12px;
    }
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;

    .container-fluid {
        padding: 0;

        .navbar-nav {
            align-items: center;

            .dropdown {
                .dropdown-toggle::after {
                    margin-left: 8px;
                }
                .dropdown-menu[data-bs-popper] {
                    top: 40px;
                    right: -10px;
                    left: unset;
                }
            }
        }
    }
}

.dashboard {
    margin-top: 95px;
    margin-bottom: 25px;
}

.dashboard-footer {
    border-top: 1px dashed #32383e;
    height: 60px;
    display: flex;
    align-items: center;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .form-login {
        width: 100%;
        max-width: 360px;
        padding: 15px;
        margin: 0 auto;
    }
}

.register-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .form-register {
        width: 100%;
        max-width: 360px;
        padding: 15px;
        margin: 0 auto;
    }
}

form {
    label {
        margin-bottom: 0!important;
    }
}
.form-box {
    max-width: 600px;
}

.filepond--root {
    width: 100%;
}
.filepond--credits {
    display: none;
}

.profile-picture {
    .pic-box {
        width: 160px;
        height: 160px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.page-title {

}