{% extends 'dashboard/base.html.twig' %}

{% block title %}Edit static page{% endblock %}

{% block dashboard %}
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{{ path('static_pages') }}">Static pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit static page</li>
        </ol>
    </nav>

    <div class="card">
        <h3 class="card-header">Edit static page</h3>
        <div class="card-body">
            <div class="form-box" {{ stimulus_controller('init-ckeditor') }}>
                {{ form(form) }}
            </div>
        </div>
    </div>

{% endblock %}