{% extends 'base.html.twig' %}

{% block body %}
    {{ include('/dashboard/partials/topbar.html.twig') }}
    <div class="main responsive-padding">
        {{ include('dashboard/partials/sidebar.html.twig') }}
        <div class="content">
            <div class="dashboard">
                {% block dashboard %}
                {% endblock %}
            </div>
            {{ include('dashboard/partials/footer.html.twig') }}
        </div>
    </div>
{% endblock %}